---
import { Icon } from 'astro-icon/components';
import Layout from '../../layouts/Layout.astro';
import IconText from '../../components/IconText.astro';
import Sidebar from '../../components/Sidebar.astro';
import CVCertificate from '../../components/CV/CVCertificate.astro';
import CVContact from '../../components/CV/CVContact.astro';
import CVEducation from '../../components/CV/CVEducation.astro';
import CVExperience from '../../components/CV/CVExperience.astro';
import CVHeader from '../../components/CV/CVHeader.astro';
import CVLanguage from '../../components/CV/CVLanguage.astro';
import CVSkill from '../../components/CV/CVSkill.astro';

import cv from '../../data/about/cv.yaml';

const links = cv.work.map((w, i) => ({
  href: `#experience-${i}`,
  title: `${w.position} (${w.name})`,
  icon: 'fa7-solid:building'
}));


const metadata = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  '@id': import.meta.env.SITE,
  name: cv.basics.name,
  nationality: 'France',
  alumniOf: cv.education.map((e) => ({
    '@type': 'CollegeOrUniversity',
    name: e.institution,
    address: e.location,
    url: e.url
  })),
  knowsLanguage: cv.languages.map(l => ({
    '@type': 'Language',
    name: l.language
  }))
};
---

<style>
  h3 {
    font-size: 1.6em;
    font-variant: small-caps;
    font-weight: 600;
    margin-top: 16px;
    text-decoration: underline;
  }

  @media screen {
    header {
      color: white;
      display: none;
    }
  }
</style>

<Layout title="CV" metadata={metadata}>
  <Sidebar links={links} />
  <div class="absolute z-40 top-0 right-0 p-2 bg-white text-neutral-600">
    <p class="text-2xl flex flex-row">
      <a href="cv.json" class="px-1"><Icon name="devicon:json" /></a>
      <a href="cv.txt" class="px-1"><Icon name="fa7-solid:file-alt" /></a>
    </p>
  </div>

  <div class="min-h-screen min-w-80 text-neutral-700 sm:ml-80">
    <header><CVHeader basics={cv.basics} /></header>

    <div class="flex flex-col lg:flex-row items-stretch">
      <section class="top-0 lg:w-100 overflow-y-auto bg-neutral-300 p-4">
        <div>
          <h3><IconText name="fa7-solid:address-card">Contact</IconText></h3>
          <ul class="pl-1 font-light">
            {['linkedin', 'github', 'stackoverflow'].map(site => (
              <li><CVContact site={site} /></li>
            ))}
          </ul>
        </div>

        <div>
          <h3><IconText name="fa7-solid:toolbox">Skills</IconText></h3>
          <ul class="pl-1">
            <li>
              <IconText name="fa7-solid:person">Human</IconText>
              <ul class="list-inside list-disc pl-2 font-light">
                <li><span class="font-normal">Thoroughness</span></li>
                <li><span class="font-normal">Organization</span></li>
                <li><span class="font-normal">Creativity</span></li>
                <li><span class="font-normal">Asynchronous communication</span></li>
              </ul>
            </li>
            <li>
              <IconText name="fa7-solid:screwdriver-wrench">Technical</IconText>
              <ul class="list-inside list-disc pl-2 font-light">
                {cv.skills.map(skill => (
                  <li><CVSkill skill={skill} /></li>
                ))}
              </ul>
            </li>
          </ul>
        </div>

        <div>
          <h3><IconText name="fa7-solid:award">Certificates</IconText></h3>
          <ul class="pl-1 font-light">
            {cv.certificates.map(certificate => (
              <li><CVCertificate certificate={certificate} /></li>
            ))}
          </ul>
        </div>

        <div>
          <h3><IconText name="fa7-solid:language">Languages</IconText></h3>
          <ul class="pl-1 font-light">
            {cv.languages.map(language => (
              <li><CVLanguage language={language} /></li>
            ))}
          </ul>
        </div>
      </section>

      <main class="w-full p-4 font-light">
        <h3><IconText name="fa7-solid:briefcase">Experience</IconText></h3>
        {cv.work.map((work, i) => (
          <CVExperience id=`experience-${i}` work={work} />
        ))}

        <h3><IconText name="fa7-solid:chalkboard-user">Education</IconText></h3>
        {Object.entries(Object.groupBy(cv.education, ({ studyType }) => studyType)).map((e) => (
          <CVEducation education={e[1]} />
        ))}
      </main>
    </div>
  </div>
</Layout>
