---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import websites from '../../data/websites.json';

interface Props {
  website: string;
}

const { website } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pix/sections/*.png');
const imageUrl = `/src/assets/pix/sections/${website}.png`;
if (!images[imageUrl]) throw new Error(`"${imageUrl}" does not exist"`);
---

<a href={websites[website].url} target="_blank">
  <Image src={images[imageUrl]()} alt={websites[website].name} />
  <h3 class="bg-white p-4">
    <span class="inline-block align-middle"><Icon name={websites[website].icon} class="mr-2" /></span>
    <span class="inline-block align-middle">{websites[website].name}</span>
  </h3>
</a>
