---
import { Markdown } from 'astro-remote';
import IconText from '../IconText.astro';

interface Props {
  id: string
  work: object;
}
const { id, work } = Astro.props;
---

<h4 id={id} class="font-normal text-xl mt-2.5 pt-1.5 border-t border-gray-300">
  <IconText name="fa7-solid:briefcase">{work.position}</IconText>
</h4>
<p>
  <IconText name="fa7-solid:building" class="mr-2"><a href={work.url} target="_blank">{work.name}</a></IconText>
  <IconText name="fa7-solid:calendar-days" class="mr-2">{work.startDate.toLocaleDateString('en-US', { month: 'short', year: 'numeric' })} - {work.endDate?.toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) ?? 'Now'}</IconText>
  <IconText name={`fa7-solid:location-${work.location.toLocaleLowerCase().includes('remote') ? 'pin' : 'dot'}`} class="mr-2">{work.location}</IconText>
</p>
<div class="prose max-w-none prose-p:mt-0 prose-p:mb-2 prose-p:text-base/5 prose-a:font-light prose-a:decoration-dashed prose-a:decoration-1 prose-a:decoration-gray-400 mt-2">
  {work.highlights.map(highlight => (
    <Markdown content={highlight} sanitize={{allowComponents: true}} components={{IconText}} />
  ))}
</div>
